@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family: 'Dancing Script', cursive;
}

#txt-input ,#output{
    
    width: 30%;
    height: 20vh;
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
}